---
import Header from "../components/Header";
import Navbar from "../components/Navbar";
---

<html lang="en">
  <head>
    <!-- HTML Meta Tags -->
    <title>Jason Hughes</title>
    <meta name="description" content="undefined" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://byjson.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Jason Hughes" />
    <meta property="og:description" content="undefined" />
    <meta property="og:image" content="https://byjson.com/images/avatar.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="byjson.com" />
    <meta property="twitter:url" content="https://byjson.com" />
    <meta name="twitter:title" content="Jason Hughes" />
    <meta name="twitter:description" content="undefined" />
    <meta name="twitter:image" content="https://byjson.com/images/avatar.png" />

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/images/avatar.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Jason Hughes</title>
  </head>

  <body>
    <Navbar />
    <Header />
  </body>
</html>
