---
import Navbar from "../../components/Navbar";
import PodListPage from "../../components/Projects/PodListPage";
import MainPage from "../../components/MainPage"
---


<html>
<head>
<title>PHP Test</title>
</head>
<body>
    <Navbar />
    <MainPage />
</body>
</html>